.contact {
  background-color: #240725;
  color: white;
  padding: 40px 0;
  text-align: center;
  }
  
.contact p {
  color: #a99d9d;
  font-size: 1.2em;
  }

.contact {
  padding: 1rem 0;
   
  }
  
.contact h2 {
  color: white;
  font-size: 30px;
  }
.redes {
  margin-top: 1.5rem;
  }
  
.redes-button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 120px;
  margin-right: 10px;
  border-radius: 8px;
  transition: .3s;
  color: white;
  font-weight: bold;
  display: inline-block;
    
  }

.redes-button:hover{
  background: linear-gradient(109deg, #4c3968,#322744, #000000);
  }

.github {
  background: linear-gradient(109deg, #000000,#322744, #4c3968);
  }
  
.instagram {
  background: linear-gradient(109deg, #000000,#322744, #4c3968);
  }
  
.redes-button:hover {
  opacity: 0.8;
  }

hr {
  border: none;
  margin: 3px 0; 
}
